.wrap {
    display: flex;
  color: black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(190, 190, 190, .1);
}

.cont {
    width: 50%;
}

.head {
    display: flex;
  justify-content: space-between;
  margin-top: 50px;

  & > button {
    color: black;
  }
}

.photo {
    width: 150px;
  height: 150px;
}