.wrapp {
    display: flex;
    flex: 0.25;
    height: 92vh;
    flex-direction: column;
    border-right: 1px solid rgba(190, 190, 190, .1);
    border-top: 1px solid rgba(190, 190, 190, .1);
    
    .header {
    display: flex;
    height: 50px;
    padding: 10px;
    align-items: center;

     button {
      color: black;
    
      &:hover {
        color: rgba(2, 150, 199, 1);
      }
    }
    }
    
    .thread {
    overflow: scroll;
    flex: 1;
    &::-webkit-scrollbar {
      display: none;
    }
    }
    
    .footer {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 20px;
    border-top: 1px solid rgba(190, 190, 190, .1);
    button {
      color: black;
    
      &:hover {
        color: rgba(2, 150, 199, 1);
      }
    }
    }
    }